{% extends 'base.html.twig' %}

{% block title %}Hello {{ controllerName }}!{% endblock %}

{% block body %}
    <style>
        body {
            margin:0;
            padding:30px;
            font:12px/1.5 Helvetica,Arial,Verdana,sans-serif;
        }
        h1 {
            font-size:48px;
            font-weight:normal;
            line-height:48px;
            margin:0;
        }
        code {
            background: #F5F5F5;
            padding: 2px 6px;
            word-break: break-all;
        }
    </style>
    <div>
        <h1>Hello {{ controllerName }}!</h1>
        <p>This friendly message is coming from your controller at <code>{{ controllerLocation }}</code></p>
    </div>
{% endblock %}
